<h3>Ponder Posts:</h3>
<ul>
  <% @posts.each do |post| %>
    <li>
      <div>
        <%= link_to post.title, post_path(post.user_id, post.id) %>
      </div>
      <p><%= post.content %></p>
    </li>
  <% end %>
</ul>
