<%= form_for @post do |f| %>
<div>
  <label>Title:</label>
  <%= f.text_field :title %>
</div>
<div>
  <label>Content</label>
  <%= f.text_area :content, oninput: "document.getElementById('charCount').innerHTML=this.value.length", maxlength: 1000 %>
</div>
<div>
  <span id="charCount">0</span>/1000
</div>
<%= f.submit "Submit" %>
<% end %>
