<h2><%= @post.title %></h2>
<p><%= @post.content %></p>
<ul>
  <li>
    <%= button_to "Edit", edit_post_path(@post), method: :get %>
  </li>
  <li>
    <%= button_to "Delete", "/users/#{@post.user_id}/posts/#{@post.id}", method: :delete %>
  </li>
</ul>
