<footer class="footer">
  <div class="container footer-info center grey-text text-darken-4">
    <hr>
    © 2017 Team Ponder
    <div>
      <a class="footer-links" href="/about">About Ponder</a> |
      <a class="footer-links" href="https://www.github.com/dalazaro/ponder" target="blank">Ponder on GitHub</a>
    </div>
  </div>
</footer>
