<footer class="footer grey lighten-2 z-depth-1">
  <div class="">
    <div class="container footer-info center grey-text text-darken-4">
      © 2017 Team Ponder
      <div class="">
        <a class="" href="#" target="blank">About Ponder</a> |
        <a class="" href="https://www.github.com/dalazaro/ponder" target="blank">Ponder on GitHub</a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="grey-text text-darken-4">Links</h5>
        <ul>
          <li><a class="grey-text text-darken-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey lighten-2 z-depth-1">
    <div class="container grey-text text-darken-4">
    <a href="/about">&copy; 2017 Team Pinoy Ponder</a>
      <a class="right" href="https://www.github.com/dalazaro/ponder" target="blank">Ponder on GitHub</a>
    </div>
  </div>
</footer>
