
<div class="container page-view">
  <h3 class="center">About Team Ponder</h3>
    <h4 class="aboutUs">Joanne Cabling</h4>
    <p>
      <%= image_tag ("/assets/images/me.jpeg"), class: "about-image profile-img" %>
      Born and raised in the SF Bay area, Joanne was a graphic designer for ten years before transitioning to a web developer. She is creative at heart and loves photography and art. She is happy to be a part of Team Ponder so she can finally write beautiful poems and haikus about saving chickens and ducks from becoming the Filipino delicacy known as "balut." You can usually find her hacking away on her laptop.
    </p>

    <h4 class="aboutUs">Christopher Fujino</h4>
    <p>
      <%= image_tag ("/assets/images/cf.jpeg"), class: "about-image profile-img" %>
      Christopher grew up on the balmy, tropical Hawaiian island of Oahu but recently moved to the Bay Area to ride the waves of technological innovation. He loves both elegant code and prose, so working on Ponder was a natural fit. He's a firm believer in the product, which is good since he didn't get any equity. His favorite font for coding is Adobe's Source Code Pro, and his favorite font for prose is Garamond.
    </p>

    <h4 class="aboutUs">Daryl Jason Lazaro</h4>
    <p>
      <%= image_tag ("/assets/images/dl.jpeg"), class: "about-image profile-img" %>
      Daryl is Bay Area born-and-bred and graduated with a BA in English from UC Davis. With a creative writing background, he became a web developer to learn how to make websites like Ponder. He came up with Ponder on a BART commute home, and with the help of two fellow spam musubi aficionados, built an online community that favors original content over clickbait. His favorite wrestler is Braun Strowman, his favorite poet is Gary Snyder, and his favorite website is Xanga.
    </p>
</div>
