
<div class="container">
  <h3>Team Ponder Pinoy</h3>
    <h4 class="aboutUs">Joanne Cabling</h4>
    <p>
    <%= image_tag ("me.jpeg"), class: "about-image" %>
    I'm not going anywhere. They're going to execute her. Look, a few minutes ago you said you didn't want to just wait here to be captured. Now all you want to do is stay. Marching into the detention area is not what I had in mind. But they're going to kill her! Better her than me... She's rich. Rich? Yes. Rich, powerful! Listen, if you were to rescue her, the reward would be... What? Well more wealth that you can imagine. I don't know, I can imagine quite a bit! You'll get it! I better! You will...
    </p>

    <h4 class="aboutUs">Christopher Fujino</h4>
    <p>
    <%= image_tag ("cf.jpeg"), class: "about-image" %>
    We don't serve their kind here! What? Your droids. They'll have to wait outside. We don't want them here. Listen, why don't you wait out by the speeder. We don't want any trouble. I heartily agree with you sir. Negola dewaghi wooldugger?!? He doesn't like you. I'm sorry. I don't like you either You just watch yourself. We're wanted men. I have the death sentence in twelve systems. I'll be careful than. You'll be dead. This little one isn't worth the effort. Come let me buy you something...
    </p>

    <h4 class="aboutUs">Daryl Lazaro</h4>
    <p>
    <%= image_tag ("dl.jpeg"), class: "about-image" %>
    You must learn the ways of the Force if you're to come with me to Alderaan. Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. I need your help, Luke. She needs your help. I'm getting too old for this sort of thing. I can't get involved! I've got work to do! It's not that I like the Empire. I hate it! But there's nothing I can do about it right now. It's such a long way from here. That's your uncle talking. Oh, God, my uncle. How am I ever going to explain this?
    </p>
</div>
