<div class="center">
      <%= image_tag "/assets/images/ponder-splash.png", class: "responsive-img" %>
  <h3>Express yourself. Get creative.</h3>
  <a class="waves-effect waves-light btn-large"
    href=<%= new_user_path %>>
    Create an Account
  </a>
</div>
