<div class="center">
  <%= image_tag "/assets/images/ponder-splash.png", class: "responsive-img" %>

  <div class="container">
    <h3 style="margin-top:50px;">
      Express yourself. Get creative.
    </h3>

    <a class="btn-large"
    href=<%= new_user_path %>>
      Create an Account
    </a>

    <h4 style="margin-top:50px;">
      Say Anything.
    </h4>

    <p class="container">
      Philosophies, poems, prose, movie/music/TV show reviews, or random musings &dash; Ponder gives you a creative, minimalist space to express your thoughts, free from distractions and clutter.
    </p>

    <h4 style="margin-top:50px;">
      Write anywhere.
    </h4>

    <p class="container">
      Use Ponder on desktop, tablet, or mobile. Creativity strikes anywhere, and Ponder is ready whenever you are.
    </p>

    <h3 style="margin-top:50px;">
      Join Ponder for free.
    </h3>

    <a class="btn-large"
    href=<%= new_user_path %>
    style="margin-bottom:50px;">
      Create an Account
    </a>

  </div>

</div>
